// Styles pertaining to forum elements

// A board wraps board posts, providing a grouping of clickable post titles
.forum-board {
  @extend %layer-1;
  background-color: $forum-post-background-color;
}

// A single clickable title to navigate to a post
.forum-post-summary {
  border-top: 1px solid $forum-post-break-border-color;

  a {
    &, &:link, &:visited {
      color: $forum-board-post-passive-title-color;
    }
    &:hover, &:active {
      color: $forum-board-post-active-title-color;
    }
  }

  .header {
    padding: ($forum-post-padding - $forum-board-post-hint-height) $forum-post-padding/2 $forum-post-padding;
    display: flex;
    align-items: flex-start;
    font-size: 14px;

    .comments, .date, .author {
      @extend %ellipsis-overflow;
      flex: 0 0 auto;
      text-align: right;
    }

    // Selects comments, date, author, and title
    > div {
      padding: 0 $forum-post-padding/2;

      &::before {
        color: $forum-post-break-border-color;
        font-size: 10px;
        opacity: 0;
        display: block;
        transition: opacity $animation-duration $animation-style;
        height: $forum-board-post-hint-height;
      }

      &:hover::before {
        opacity: 1;
      }
    }

    .title {
      flex: 1 1 auto;

      a {
        font-size: 16px;
        display: block;
      }
      &::before {
        content: 'title';
      }
    }
    .comments {
      width: 55px;
      &::before {
        content: 'replies';
      }
    }
    .date {
      width: 230px;
      &::before {
        content: 'created';
      }
    }
    .author {
      width: 150px;
      &::before {
        content: 'author';
      }
    }
  }

  .body {
    color: $forum-board-post-body-color;
    font-size: 14px;
    padding: 0 $forum-post-padding $forum-post-padding;
  }

  &:nth-child(1) {
    border-top: none;
  }
}
