// Gametracker styles
.gametracker-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 250px + 24px;
  margin: $spacing-medium 12px 0;

  a {
    &, &:link, &:visited {
      margin-top: $spacing-small;
      padding: 4px 0;
    }
  }
}

.gametracker {
  @extend %layer-1;
  display: block;
  height: 146px;
  background-color: #FFF;
  padding: 12px;
  width: 250px + 24px;
}
