// Global header contains the background image, logo, and login modules
.global-header {
  height: $header-height;
  background: $header-background-color url('https://s3-us-west-1.amazonaws.com/fm-msc/citatsia/d2-night.jpg') no-repeat fixed right bottom;
  background-size: cover;
  position: relative;
  z-index: 999;

  .header-logo {
    margin-top: $header-height - $header-logo-height;
    height: $header-logo-height;
    margin-left: $content-padding;
    display: block;
    position: absolute;
  }

  // Login wrapper forces the login panel to be the small rectangular card, no matter the state.
  .header-login-wrapper {
    float: right;
    margin-right: $content-padding - $header-login-padding;
    margin-top: 16px;
    color: $header-login-active-background-color;
    width: $header-login-width;

    height: $header-login-passive-height + $header-login-padding * 2;
    overflow: visible;
    box-shadow: none;
    transition: all $animation-duration $animation-style;
    transition-property: background-color, color, box-shadow;
    border-radius: $header-login-border-radius $header-login-border-radius 0 0;

    // Persistent login contains the user's username and profile picture. This card is always
    // displayed no matter the state of the login panel.
    .header-login-persistent {
      display: flex;
      align-items: center;
      padding: $header-login-padding;

      .left {
        @extend %ellipsis-overflow;
        flex: 1 1 auto;
        padding-right: $header-login-padding;
        text-align: right;
      }

      .right {
        height: $header-login-passive-height;
        width: $header-login-passive-height;
        flex: 0 0 $header-login-passive-height;
        border-radius: $header-login-padding;
        transition: border-radius $animation-duration $animation-style;
      }
    }

    // Login hidden wrapper allows the login hidden object to be any size without needing to resize
    // when the state transition occurs.
    .header-login-hidden-wrapper {
      transition: all $animation-duration $animation-style;
      transition-property: max-height, background-color, box-shadow;
      max-height: 0;
      overflow: hidden;
      border-radius: 0 0 $header-login-border-radius $header-login-border-radius;
      color :$header-login-active-color;

      > div {
        transition: opacity $animation-duration $animation-style;
        opacity: 0;
      }
    }

    // State change flag
    &:hover {
      color: $header-login-active-color;
      background-color: $header-login-active-background-color;
      box-shadow: $header-login-active-box-shadow;

      .header-login-persistent {
        border-bottom: 1px solid $header-login-active-border-color;

        .right {
          border-radius: 0;
        }
        .left {
          text-align: left;
        }
      }

      .header-login-hidden-wrapper {
        max-height: 500px;
        box-shadow: $header-login-active-box-shadow;
        background-color: $header-login-active-background-color;

        > div {
          opacity: 1;
        }
      }
    }
  }

  .header-login-form {
    padding: $header-login-padding;

    .header-login-form-title {
      padding-bottom: $header-login-padding;
    }

    input {
      margin-bottom: $header-login-padding;
      width: 100%;
      font-size: 16px;
    }

    button {
      padding: 6px 12px;
      font-size: 16px;
    }
  }
  .header-login-form-submit-wrapper {
    display: flex;
    align-items: baseline;

    .left {
      flex: 1 1 auto;
    }
    .right {
      flex: 1 1 auto;
      text-align: right;
      font-size: 12px;
      color: $header-login-active-border-color;
    }

    a {
      &, &:link, &:visited {
        text-decoration: none;
        color: $input-active-border-color;
      }
      &:hover, &:active {
        color: darken($input-active-border-color, 15%);
      }
    }
  }
}

// Styles for the navbar in the header
.global-header-nav {
  .header-links {
    list-style: none;
    padding: 0 ($content-padding - $header-links-horizontal-padding);
    background-color: $header-links-background-color;

    li {
      display: inline-block;
    }

    a {
      &, &:link, &:visited {
        padding: $header-links-vertical-padding $header-links-horizontal-padding;
        font-size: 16px;
        text-decoration: none;
        background-color: $header-links-background-color;
        color: $header-links-link-passive-color;
        display: inline-block;
      }

      &:hover, &:active {
        color: $header-links-link-active-color;
      }
    }
  }
}
