// Styles that pertain to all elements or are used across all pages (not including modules, like
// the header or footer).
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
p {
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: $default-font-family;
}

body {
  background-color: $body-background-color;
  color: $body-color;
}

%ellipsis-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container {
  padding-left: $content-padding;
  padding-right: $content-padding;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

.centered {
  text-align: center;
}

// Form controls
input {
  border: none;
  border-bottom: 2px solid $input-passive-border-color;
  transition: border-color $animation-duration $animation-style;
  outline: none;
  color: $input-color;

  &:focus {
    border-color: $input-active-border-color;
  }
}

button {
  border: none;
  cursor: pointer;
  display: inline-block;

  &[type=submit] {
    background-color: $button-passive-background-color;
    color: $button-color;

    &:hover {
      background-color: $button-active-background-color;
    }
  }
}

a {
  &, &:link, &:visited {
    text-decoration: none;
    color: $link-passive-color;
  }
  &:hover, &:active {
    color: $link-active-color;
  }
}

// Spacers
.spacer {
  &.content {
    height: $content-padding;
  }
  &.card {
    height: 8px;
  }
  &.section-title {
    height: 16px;
  }
  &.footer {
    height: 75px;
  }
}

// Titles and sections
section {
  padding-top: $content-padding;
  display: block;
}

.page-title {
  font-size: 30px;
  text-align: left;
}

.section-title {
  font-size: 23px;
  text-align: left;
}

// Cards
%layer-1 {
  box-shadow: $box-shadow-layer-1;
}

.card-link {
  @extend %layer-1;
  &, &:link, &:visited {
    display: block;
    text-align: center;
    background-color: $card-link-passive-background-color;
    color: $card-link-passive-color;
  }

  &:hover, &:active {
    background-color: $card-link-active-background-color;
    color: $card-link-active-color;
  }
}
