// Styles that pertain to all elements or are used across all pages (not including modules, like
// the header or footer).
* {
  box-sizing: border-box;
}

html, body,
ul, ol, li {
  margin: 0;
  padding: 0;
}

body,
button {
  font-family: $default-font-family;
}

body {
  background-color: $body-background-color;
}

a {
  text-decoration: none;
}

%ellipsis-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

%layer-1 {
  box-shadow: $box-shadow-layer-1;
}

.container {
  padding: 0 $content-padding;
  margin: 0 auto;
  max-width: 1920px;
}

.centered {
  text-align: center;
}

// Form controls
input {
  border: none;
  border-bottom: 2px solid $input-passive-border-color;
  transition: border-color $animation-duration $animation-style;
  outline: none;
  color: $input-color;

  &:focus {
    border-color: $input-active-border-color;
  }
}

button {
  border: none;
  cursor: pointer;
  display: inline-block;

  &[type=submit] {
    background-color: $input-active-border-color;
    color: #FFF;

    &:hover {
      background-color: darken($input-active-border-color, 5%);
    }
  }
}

// Spacers
.spacer {
  &.content {
    height: $content-padding;
  }
  &.card {
    height: 8px;
  }
  &.section-title {
    height: 16px;
  }
  &.footer {
    height: 75px;
  }
}

.section-title {
  font-size: 23px;
  text-align: left;
}
